<h2 class="text-center" style="margin-top: 20px">CONTACT US</h2>
<hr class="container">
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-5">
      <div class="card bg-light mb-3 shadow">
          <div class="card-header bg-success text-white text-uppercase"><i class="fa fa-home"></i> Address</div>
          <div class="card-body">
            <p><strong>Contact us through mail or stop by to have a coffee</strong></p>
            <p><strong>HouseKhaas Pvt. Ltd.</strong></p>
            <p>Pune, Maharashtra, India</p>
            <p><strong>Email :</strong> customersupport@housekhaas.com</p>
            <p><strong>Tel. :</strong> +91 9090909090</p>
          </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-light shadow" style="margin-bottom: 20px">
        <div class="card-header bg-primary text-white">FEEDBACK FORM</div>
        <div class="card-body">
          <form>
            <div class="form-group">
                <label for="oid"></label>
                <input type="text" [(ngModel)]="oid" name="oid" class="form-control" id="oid" aria-describedby="emailHelp" placeholder="Enter your Order ID" required>
            </div>
            <div class="form-group">
                <label for="name"></label>
                <input type="text" [(ngModel)]="name" name="name" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter name" required>
            </div>
            <div class="form-group">
                <label for="email"></label>
                <input type="email" [(ngModel)]="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" required>
            </div>
            <div class="form-group">
                <label for="message"></label>
                <textarea class="form-control" [(ngModel)]="message" name="message" id="message" placeholder="Enter your message here..." required></textarea>
            </div>
            <div class="mx-auto">
            <button (click)="feedbackSubmit()" type="submit" class="btn btn-primary text-right">Submit</button>
            </div>
          </form>
        </div>
      </div>  
    </div>
  </div>
</div>