<button class="btn btn-info" (click)="orderPool()" name="newOrders" style="margin: auto; display: block; margin-top: 20px">Look for New Orders</button>
<hr class="container">
<h3 style="text-align: center;">Welcome, {{name}}, your details</h3>
<div>
  <table class="table table-striped container">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile No</th>
        <th>Address</th>
        <th>Zip</th>
        <th>Locality</th>
        <th>City</th>
        <th>State</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{name}}</td>
        <td>{{email}}</td>
        <td>{{mobileNo}}</td>
        <td>{{address}}</td>
        <td>{{zip}}</td>
        <td>{{locality}}</td>
        <td>{{city}}</td>
        <td>{{state}}</td>
        <td><button class="btn btn-warning btn-sm">Edit</button> </td>
      </tr>
    </tbody>
  </table>
</div>
<br>
<div class="row container">
  <h3  style="margin: auto; margin-left: 400px; display: block">Your Orders</h3>
  <input [(ngModel)]="orderId" name="orderId" placeholder="Enter Order Id"  style="margin: auto; display: block" type="number">
  <button (click)="completed()" type="submit" style="margin-right: 200px" class="btn btn-success btn-sm">Mark Completed</button>
</div>
<div style="margin-top: 10px">
  <table class="table table-striped container" style="text-align: center">
    <thead class="thead-dark">
      <tr>
        <th>Order ID</th>
        <th>Issue</th>
        <th>Expected Date</th>
        <th>Expected Time</th>
        <th>Customer Address</th>
        <th>Status</th>
        <th>Amount</th>
        <th>Customer Name</th>
        <th>Customer Mobile</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders" style="text-align: center">
        <td>{{order[0]}}</td>
        <td>{{order[1]}}</td>
        <td>{{order[2]}}</td>
        <td>{{order[3]}}</td>
        <td>{{order[4]}}, {{order[9]}}</td>
        <td>{{order[5]}}</td>
        <td>{{order[6]}}</td>
        <td>{{order[7]}}</td>
        <td>{{order[8]}}</td>
      </tr>
    </tbody>
  </table>
</div>