<h1 style="text-align: center; margin-top: 30px">Register as a Professional</h1>

<form class="container">
  <small style="color: gray">(All fields are compulsory)</small>
  <div class="form-group col-md-4 select" style="margin-left: -15px">
    <select title="Select Skill" (change)="skillSelect($event)" name="skill" class="form-control">
      <option *ngFor="let skill of skills">{{skill}}</option>
    </select>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputName"></label>
      <input type="text" [(ngModel)]="name" name="name" class="form-control" id="inputName" placeholder="Your Full Name" required>
    </div>
    <div class="form-group col-md-6">
      <label for="inputMobile"></label>
      <input type="number" [(ngModel)]="mobileNo" name="mobileNo" class="form-control" id="inputMobile" placeholder="Enter your 10 digit mobile number" required>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail"></label>
      <input type="email" [(ngModel)]="email" name="email" class="form-control" id="inputEmail" placeholder="Email" required>
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword"></label>
      <input type="password" [(ngModel)]="password" name="password" class="form-control" id="inputPassword" placeholder="Password" required>
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress"></label>
    <input type="text" [(ngModel)]="address" name="address" class="form-control" id="inputAddress" placeholder="Address : 1234 Main St" required>
  </div>
  <div class="form-row">
    <div class="form-group col-md-2">
      <label for="inputZip"></label>
      <input type="text" [(ngModel)]="zip" (keyup)="onZipInsert($event)" name="zip" class="form-control" id="inputZip" placeholder="Zip Code" required>
    </div>
    <div class="form-group col-md-3">
      <label for="inputLocality"></label>
      <input type="text" [(ngModel)]="locality" name="locality" class="form-control" id="inputLocality" placeholder="Locality" disabled>
    </div>
    <div class="form-group col-md-3">
      <label for="inputCity"></label>
      <input type="text" [(ngModel)]="city" name="city" class="form-control" id="inputCity" placeholder="City Name" disabled>
    </div>
    <div class="form-group col-md-4">
      <label for="inputState"></label>
      <input type="text" [(ngModel)]="state" name="state" class="form-control" id="inputState" placeholder="State" disabled>
    </div>
    <div class="form-group" style="margin-top: 10px; margin-left: 5px">
      <label for="exampleFormControlFile1">Upload Document for verfication</label>
      <input type="file" name="document" class="form-control-file" (change)="onSelectImage($event)" id="exampleFormControlFile1" required>
    </div>
  </div>
  <div style="margin-top: 20px">
    <button (click)="onProSignup()" class="btn btn-primary">Sign Up</button>
    <button routerLink="/" type="submit" style="margin-left: 30px" class="btn btn-danger">Cancel</button>
  </div>
</form>