<h1 style="text-align: center; margin-top: 30px">Just one more step</h1>

<form class="container">
  <small style="color: gray;">(All fields are compulsory)</small>
  <div class="form-group col-md-4">
    <label for="service"></label>
    <input [(ngModel)]="service" type="text" name="service" style="margin-left: -15px" class="form-control" id="service" disabled>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputMobile"></label>
      <input [(ngModel)]="mobileNo" name="mobileNo" type="text" class="form-control" id="inputMobile" placeholder="Enter your 10 digit Mobile Number" required>
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress"></label>
    <input type="text" [(ngModel)]="address" name="address" class="form-control" id="inputAddress" placeholder="Address : 1234 Main St" required>
  </div>
  <div class="form-group">
    <label for="inputIssue"></label>
    <input type="text" [(ngModel)]="issue" name="issue" class="form-control" id="inputIssue" placeholder="Describe your issue" required>
  </div>
  <br>
  <div class="form-row">
    <div class="input-group col-md-4">
      <input type="date" [(ngModel)]="expectedDate" name="date" class="form-control" id="inputDate">
    </div>
    <div class="input-group col-md-2">
      <input type="time" [(ngModel)]="expectedTime" name="time" class="form-control" id="inputTime">
    </div>
    <div class="input-group-append">
      <button class="btn btn-outline-secondary calender" type="button" disabled><- Pick a Time</button>
    </div>
  </div>
  <div style="margin-top: 35px">
    <button type="button" (click)="onOrderPlace()" class="btn btn-primary">Book Appointment</button>
    <button routerLink="/" type="submit" style="margin-left: 30px" class="btn btn-danger">Cancel</button>
  </div>
</form>