<h1 style="text-align: center; margin-top: 30px">Update Your Profile Details</h1>
<hr class="container">
<form class="container">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputName">Name</label>
      <input [(ngModel)]="name" name="name" type="text" class="form-control" id="inputName" placeholder="{{name}}">
    </div>
    <div class="form-group col-md-6">
      <label for="inputMobile">Mobile Number</label>
      <input [(ngModel)]="mobileNo" name="mobileNo" type="tel" class="form-control" id="inputMobile" placeholder="{{mobileNo}}">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail">Email Address</label>
      <input [(ngModel)]="email" name="email" type="email" class="form-control" id="inputEmail" placeholder="{{email}}">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword">Password</label>
      <input [(ngModel)]="password" name="password" type="text" class="form-control" id="inputPassword" placeholder="{{password}}">
    </div>
  </div>
  <div style="margin-top: 20px">
    <button (click)="updateUser()" type="submit" class="btn btn-primary">Update</button>
    <button routerLink="/uprofile-page" type="submit" style="margin-left: 30px" class="btn btn-danger">Cancel</button>
  </div>
</form>
