<h1 style="text-align: center; margin-top: 30px">Add a new Service</h1>
<hr class="container">
<form class="container">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="serviceName"></label>
      <input [(ngModel)]="serviceName" name="serviceName" type="text" class="form-control" id="serviceName" placeholder="New Service Name" required>
    </div>
  </div>
  
  <div style="margin-top: 20px">
    <button routerLink="/dashboard" (click)="addService()" type="submit" class="btn btn-primary">Add</button>
    <button routerLink="/dashboard" type="submit" style="margin-left: 30px" class="btn btn-danger">Cancel</button>
  </div>
</form>