<!-- <div class="card mb-3 container shadow" style="margin-top: 40px;">
  <img src="/assets/plumbing-services.jpg" class="card-img-top" style="margin-top: 15px; height: 200px">
  <div class="card-body">
    <h4 class="card-title">Plumbing Services</h4>
    <p class="card-text">Perhaps the biggest challenge for homeowners facing a plumbing issue is finding a reputable plumber when they need one. Having access to a high-quality plumbing team will enable you to call for help and have the situation under control quickly and efficiently. At HouseKhaas, we have a long history of helping homeowners and our name has become synonymous with quality. We serve both residential and commercial customers.</p>
  </div>
</div>

<div class="card mb-3 container shadow" style="margin-top: 40px">
  <img src="/assets/electrical-services.jpg" class="card-img-top" style="margin-top: 15px">
  <div class="card-body">
    <h4 class="card-title">Electrical Services</h4>
    <p class="card-text">Whether you are building a brand-new home or commercial space or remodeling an existing one, you are going need to get a professional, licensed and insured electrical contractor.</p>
    <p class="card-text">HouseKhaas has been one of the top electrical contracting firm for the last several years thanks to our commitment to quality work and customer satisfaction. We have helped all kinds of homes and local businesses get the power they need, and if you want your new or remodeled home or business to get the seal of approval from a licensed and insured electrical contracting firm, contact HouseKhaas today. When you do, you can rest assured knowing that your home or business’s power is in the best hands.</p>
  </div>
</div>

<div class="card mb-3 container shadow" style="margin-top: 40px">
  <img src="/assets/cleaning-services.jpg" class="card-img-top" style="margin-top: 15px">
  <div class="card-body">
    <h4 class="card-title">Cleaning Services</h4>
    <p class="card-text">House Cleaning Service Partners at HouseKhaas. The providers on-boarded on HouseKhaas are approved only after an extensive background scrutiny and customers reference checks.</p>
  </div>
</div> -->

<div class="card-deck container mx-auto" style="margin-top: 30px; text-align: center;">

  <div class="card shadow">
    <img src="/assets/electrical-services.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Electrical Services</h5>
      <p class="card-text">HouseKhaas provides the best electricians thanks to our commitment to quality work and customer satisfaction. We have helped all kinds of homes and local businesses get the power they need, and if you want your new or remodeled home or business to get the seal of approval from a licensed and insured electrical contracting firm, contact HouseKhaas today.</p>
    </div>
  </div>

  <div class="card shadow">
    <img src="/assets/plumbing-services.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Plumbing Services</h5>
      <p class="card-text">Perhaps the biggest challenge for homeowners facing a plumbing issue is finding a reputable plumber when they need one. Having access to a high-quality plumbing team will enable you to call for help and have the situation under control quickly and efficiently. At HouseKhaas, we have a long history of helping homeowners and our name has become synonymous with quality.</p>
    </div>
  </div>
  
  <div class="card shadow">
    <img src="/assets/cleaning-services.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Cleaning Services</h5>
      <p class="card-text">Happiness is a freshly cleaned house. We know time is everything. We understand that cleaning may not be on the top of your busy schedule. Fret not! Avail the best house cleaning services at HouseKhaas. The providers on-boarded on HouseKhaas are approved only after an extensive background scrutiny and customers reference checks.</p>
    </div>
  </div>
</div>
