<h2 class="card-title" style="text-align: center; margin-top: 30px">ABOUT US</h2>

<div class="container" style="text-align: center">
  <div class="card-body" style="text-align: center">
    HouseKhaas was started by Sushil Nankar and Yogesh Chaudhari at Sunbeam Labs is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  </div>
</div>

<br>
<hr>

<div class="container" style="text-align: center">
  <div class="row">
    <div class="col-sm-4 wow zoomIn text-center animated" data-wow-duration="700ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 700ms; animation-delay: 300ms; animation-name: zoomIn;">
      <h3 style="color: darkslateblue;">Our Vision</h3>
      <hr class="title-border" style="margin-top: -5px;">
      <p>To provide customers with home repair service experience that delights them and become their best-handy-friend. </p>
    </div>
    
    <div class="col-sm-4 wow zoomIn text-center animated" data-wow-duration="700ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 700ms; animation-delay: 300ms; animation-name: zoomIn;">
      <h3 style="color: darkslateblue">Our Values</h3>
      <hr class="title-border" style="margin-top: -5px;">
      <p>We started our operations from Pune in 2018 with 3 servicemen. Today we have 2,500 servicemen across top 5 cities</p>
    </div>

    <div class="col-sm-4 wow zoomIn text-center animated" data-wow-duration="700ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 700ms; animation-delay: 300ms; animation-name: zoomIn;">
      <h3 style="color: darkslateblue">Our History</h3>
      <hr class="title-border" style="margin-top: -5px;">
      <p>We believe in our processes and in our people who lead them. We enjoy the power of empowerment and delegation.</p>
    </div>
  </div>
</div>

<br>

<div class="col-sm-6 col-sm-offset-3 container" style="text-align: center">
  <h3 style="color: darkslateblue">Our Servicemen</h3>
  <hr class="title-border" style="margin-top: -5px;">
  <p>The indispensible part of our organization is the proletariat class. EasyFix has taken this agenda not only to train and develop them into professionals but also contribute in their career growth.</p>
</div>

<!-- <div class="container" style="text-align: center">
  <h3 class="container" style="text-align: center; text-decoration: underline; color: darkslateblue">HOW WE WORK</h3>
  <p style="text-align: center">
      You can book an appointment by calling us or simply register on the website all your household related services. It's that simple.
  </p>

  <div class="row">
    <div class="col-md-3 container">
      <img style="width: 70px; height: 80px; "src="/assets/list.png" alt="">
      <h5 style="margin-top: 10px"><strong style="size: 20mm">We have a list of verified servicemen</strong></h5> 
      <p>These are trained, verified and trustworthy professionals</p>      
    </div>

    <div class="col-md-3 container">
        <img style="width: 70px; height: 80px;" src="/assets/serviceprofessional.png" alt="">
        <h5 style="margin-top: 10px"> <strong style="size: 20mm">The best serviceman is assigned to you</strong></h5> 
        <p>To address your requirement and meet your needs in 24 hours</p>      
    </div>

    <div class="col-md-3 container">
      <img style="width: 70px; height: 80px;" src="/assets/meet.png" alt="">
      <h5 style="margin-top: 10px"> <strong style="size: 20mm">HoseKhaas revolves around all home issues</strong></h5> 
      <p>The call is closed after your complete satisfaction.</p>      
    </div>
  </div>
</div>  -->

