<br>
<div class="full">
  <h2 style="text-align: center">Login Page</h2>
  <form class="container col-md-4">
    <div class="form-group">
      <label for="exampleInputEmail1"></label>
      <input type="email" [(ngModel)]="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1"></label>
      <input type="password" [(ngModel)]="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
    <div class="form-group">
      <button (click)="onLoginCLick()" class="btn btn-success">Login</button>
      <button routerLink="/" class="btn btn-danger" style="margin-left: 10px;">Cancel</button>
      <br><br>
      <strong><b>OR</b></strong>
      <br><br>
      <button routerLink="/user-register" class="btn btn-warning">Signup</button>
    </div>
  </form>
</div>
