<br>
<h3 style="text-align: center">All Orders</h3>
<hr class="container">
<div style="margin-top: 10px">
  <table class="table table-striped container">
    <thead class="thead-dark">
      <tr>
        <th>Order ID</th>
        <th>Issue</th>
        <th>Expected Date</th>
        <th>Expected Time</th>
        <th>Address</th>
        <th>Status</th>
        <th>Amount</th>
        <th>Customer Name</th>
        <th>Customer Mobile</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td>{{order.oid}}</td>
        <td>{{order.issue}}</td>
        <td>{{order.expectDate}}</td>
        <td>{{order.expectTime}}</td>
        <td>{{order.address}}</td>
        <td>{{order.status}}</td>
        <td>{{order.amount}}</td>
        <td>{{order.customer.name}}</td>
        <td>{{order.mobileNo}}</td>
      </tr>
    </tbody>
  </table>
</div>

<button class="btn btn-info" routerLink="/dashboard" style="margin: auto; display: block;">Go back to Admin dashboard</button>