<h1 style="text-align: center; margin-top: 30px">Register as a User</h1>

<form class="container">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputName"></label>
      <input [(ngModel)]="name" name="name" type="text" class="form-control" id="inputName" placeholder="Your Full Name" required>
    </div>
    <div class="form-group col-md-6">
      <label for="inputMobile"></label>
      <input [(ngModel)]="mobileNo" name="mobileNo" type="tel" class="form-control" id="inputMobile" placeholder="Enter your 10 digit mobile number" required>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail"></label>
      <input [(ngModel)]="email" name="email" type="email" class="form-control" id="inputEmail" placeholder="Email" required>
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword"></label>
      <input [(ngModel)]="password" name="password" type="password" class="form-control" id="inputPassword" placeholder="Password" required>
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress"></label>
    <input [(ngModel)]="address" name="address" type="text" class="form-control" id="inputAddress" placeholder="Address : 1234 Main St" required>
  </div>
  <div class="form-row">
    <div class="form-group col-md-2">
      <label for="inputZip"></label>
      <input [(ngModel)]="zip" (keyup)="onZipInsert($event)" name="zip" type="text" class="form-control" id="inputZip" placeholder="Zip Code" required>
    </div>
    <div class="form-group col-md-3">
      <label for="inputLocality"></label>
      <input [(ngModel)]="locality" name="locality" type="text" class="form-control" id="inputLocality" placeholder="Locality" disabled>
    </div>
    <div class="form-group col-md-3">
      <label for="inputCity"></label>
      <input [(ngModel)]="city" name="city" type="text" class="form-control" id="inputCity" placeholder="City Name" disabled>
    </div>
    <div class="form-group col-md-4">
      <label for="inputState"></label>
      <input [(ngModel)]="state" name="state" type="text" class="form-control" id="inputState" placeholder="State" disabled>
    </div>
  </div>
  <p style="color: gray">(All fields are compulsory)</p>
  <div style="margin-top: 20px">
    <button (click)="onSignup()" type="submit" class="btn btn-primary">Sign Up</button>
    <button routerLink="/" type="button" style="margin-left: 30px" class="btn btn-danger">Cancel</button>
  </div>
</form>