<div style="height: 438px; width: 100%">
  <section>
      <img class="bottom img-fluid" src="/assets/wall1.jpg">
      <img class="top img-fluid" src="/assets/wall2.jpg">
  </section>
  <div class="input-group mb-3 col-md-6 container" style="position: relative; top: 50%">
    <select (change)="serviceSelect($event)" class="custom-select" id="inputGroupSelect02">
      <option selected style="color: gainsboro" hidden>Choose the service you need...</option>
      <option value="Plumbing">Plumbing Services</option>
      <option value="Electrical">Electrical Services</option>
      <option value="House Cleaning">House Cleaning</option>
      <option value="AC Refrigeration">AC & Refrigeration Services</option>
      <option value="Tiling">Tiling Services</option>
    </select>
    <div class="input-group-append">
      <label (click)="onServiceSelect()" class="input-group-text" for="inputGroupSelect02" style="background-color: darkslateblue; color: whitesmoke;">Book Appointment</label>
    </div>
  </div>
</div>

<br><br><br>
<hr>

<div class="container" style="text-align: center;">
  <h3 class="container" style="text-align: center; text-decoration: underline">How we work</h3>
  <p style="text-align: center">
      You can book an appointment by calling us or simply register on the website for all your household related problems. It's that simple.
  </p>

  <div class="row">
    <div class="col-md-3 container">
      <img style="width: 70px; height: 80px;" src="/assets/list.png" alt="">
      <h5 style="margin-top: 10px"><strong style="size: 20mm">We have a list of verified servicemen</strong></h5> 
      <p>These are trained, verified and trustworthy professionals</p>      
    </div>

    <div class="col-md-3 container">
        <img style="width: 70px; height: 80px;" src="/assets/serviceprofessional.png" alt="">
        <h5 style="margin-top: 10px"> <strong style="size: 20mm">The best serviceman is assigned to you</strong></h5> 
        <p>To address your requirement and meet your needs in 24 hours</p>      
    </div>

    <div class="col-md-3 container">
      <img style="width: 70px; height: 80px;" src="/assets/meet.png" alt="">
      <h5 style="margin-top: 10px"> <strong style="size: 20mm">HouseKhaas revolves around all home issues</strong></h5> 
      <p>The call is closed after your complete satisfaction.</p>      
    </div>
  </div>
</div>