<br>
<div>
  <h3 style="text-align: center">New orders are waiting for you</h3>
<table class="table table-striped container" style="text-align: center">
  <thead class="thead-dark">
    <tr>
      <th>Issue</th>
      <th>Expected Date</th>
      <th>Expected Time</th>
      <th>Locality</th>
      <th>Customer Mobile</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders">
      <td>{{order.issue}}</td>
      <td>{{order.expectDate}}</td>
      <td>{{order.expectTime}} pm</td>
      <td>{{order.customer.locality}}</td>
      <td>{{order.mobileNo}}</td>
      <td><button (click)="acceptOrder(order.oid)"  class="btn btn-success btn-sm">Accept</button></td>
    </tr>
  </tbody>
</table>

<button class="btn btn-info" routerLink="/pprofile-page" style="margin: auto; display: block;">Go back to Profile Page</button>

