a{
    color: gainsboro
}

html {
    position: absolute;
    min-height: 100%;
}
  
footer {
    background-color: darkslateblue; 
    margin-top: 30px; 
    position: relative; 
    width: 100%; 
    margin-left: 0px;
    bottom: 0px;
}