<nav class="navbar navbar-expand-md navbar-dark shadow" style="background-color: darkslateblue">
  <a class="navbar-brand" href="/">
    <img src="/assets/logo1.svg" width="30" height="28" class="d-inline-block align-top" alt="">
    HouseKhaas
  </a>
  <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/our-services">Our Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about-us">About Us</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/contact">Contact</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <button (click)="onLoginClick()" id="loginbtn" class="btn btn-success btn-sm" style="margin-right: 10px">Login as User</button>
        <!-- <button (click)="onLogout()" id="logoutbtn" class="btn btn-danger btn-sm" style="margin-right: 10px; display: none;">Logout</button> -->
        <button (click)="onLogout()" id="logoutbtn" class="btn btn-danger btn-sm" style="margin-right: 10px;">Logout</button>
        <!-- <button (click)="profile()" id="profilebtn" class="btn btn-warning btn-sm" style="margin-right: 10px;">Profile</button> -->
      </li>
      <br>
    </ul>
  </div>
</nav>

<div>
  <router-outlet></router-outlet>
</div>

<footer class="page-footer font-small row shadow fixed-bottom">
  <div class="footer-copyright py-3 mr-auto" style="margin-left: 20px; color: white">
    <a>© HouseKhaas.com</a>
  </div>
  <div class="py-3 ml-auto">
    <a *ngIf="invalid" id="proLogin" routerLink="./pro-login" style="margin-right: 15px;">Professional Login</a>
  </div>
</footer>